* {
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

input {
  width: 100%;
  padding: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
}